Flask
flask-cors
pandas

psycopg2-binary

apify-client
playwright

pythainlp
joblib
scikit-learn==1.7.2
transformers
torch
sentencepiece
protobuf==3.20.*

python-dotenv
requests

flask-swagger
flask-swagger-ui
flask_jwt_extended